{% extends "webserver/base.html" %}
{% block title %}home{% endblock %}
{% block extraCss %}
    {% load staticfiles %}

  	<link href="/static/webserver/css/home.less" rel="stylesheet/less" type="text/css">
{% endblock %}


{% block body %}
<div class="bodyContainer">
<!-- 	<div class="search input-group input-group-hg input-group-rounded">
        <input type="text" class="form-control" placeholder="Search" id="search-query-2">
        <span class="input-group-btn">
          <button type="submit" class="form-control btn btn-default"><span class="fui-search"></span></button>
        </span> 
  </div> -->
              <form class="search-form form-group" action='/search' method='post'>
                <div class="input-group">                               
                  <input type="text" class="form-control" name='disease' placeholder="Search for a disease" id="search-query-2">
                  <span class="input-group-btn">
                    <a class="search-button btn btn-default"><span class="fui-search"></span></a>
                  </span>
                </div>
              {% csrf_token %}
              </form>
</div>
  
{% endblock %}
{% block extraScript %}
    <script src="static/webserver/js/home.js" %}"></script>

{% endblock %}
